<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

  <Identity
    Name="504feed5-31bb-43e8-a14c-1ab38382a442"
    Publisher="CN=C91088FC-231C-4E13-86D1-5F9658173DA7"
    Version="1.0.3.0" />

  <Properties>
    <DisplayName>pepeizq&apos;s Tiles for Games</DisplayName>
    <PublisherDisplayName>pepeizq</PublisherDisplayName>
    <Logo>Assets\Logos2\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="$targetentrypoint$">
      <uap:VisualElements
        DisplayName="pepeizq&apos;s Tiles for Games"
        Description="https://pepeizqapps.com/"
        BackgroundColor="#171a21"
        Square150x150Logo="Assets\Logos2\Square150x150Logo.png"
        Square44x44Logo="Assets\Logos2\Square44x44Logo.png">
        <uap:SplashScreen Image="Assets\Logos2\SplashScreen.png"  BackgroundColor="#171a21"/>

		<uap:DefaultTile Wide310x150Logo="Assets\Logos2\Wide310x150Logo.png" ShortName="Tiles for Games" Square310x310Logo="Assets\Logos2\Large310x310Logo.png" Square71x71Logo="Assets\Logos2\Small71x71Logo.png">
			<uap:ShowNameOnTiles>
				<uap:ShowOn Tile="square310x310Logo" />
			</uap:ShowNameOnTiles>
		</uap:DefaultTile>
        <uap:LockScreen BadgeLogo="Assets\Logos2\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
